.App {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

@import 'login';
@import  'logged-user';
@import 'add-pet';
